In [1]:
import pandas as pd

In [5]:
#buat data frame
data = {'Perusahaan':['Babastudio','Babastudio','Techfor','Techfor'],
       'Nama':['Nur','Reza','Gusti','Pandu'],
       'Penjualan':[245,250,350,400]}

In [6]:
df =pd.DataFrame(data)
df

   Perusahaan   Nama  Penjualan
0  Babastudio    Nur        245
1  Babastudio   Reza        250
2     Techfor  Gusti        350
3     Techfor  Pandu        400

In [10]:
df.groupBy('perusahaan')

AttributeError: 'DataFrame' object has no attribute 'groupBy'

In [13]:
df.groupby('perusahaan').mean()

KeyError: 'perusahaan'